---
layout: default
---

<div class="introduction">
  <h1>Hi! 👋</h1>
  My name is Prakash Kumar, and I'm a tech entrepreneur with a passion for coding and building products. I've co-founded two startups: Rheo TV (acquired by Unacademy) and Relevel. I'm currently working on my next venture(Announcement soon!).
  <p>After Rheo TV's acquisition, I joined Relevel as a co-founder. There, I built the entire tech team and product from the ground up, leading us to an amazing team of over 40 members and reaching $10M in ARR before my departure.
  </p>
<p>At Rheo TV, we built cutting-edge distributed live streaming systems. We raised funding from top investors like Sequoia's Surge and Lightspeed Ventures and were eventually acquired by Unacademy.
</p>
<p>Leading a tech team of 40+ in such a short period has pushed me to grow tremendously. These blogs are insights, learnings, and reflections on the mistakes I've made along the way.
</p>
</div>
<div clas="twitter_follow_button">
  <a href="https://twitter.com/Prakashkumar09?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @Prakashkumar09</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="new_section">
  <h3>All Posts</h3>
</div>
<div class="posts">
  <ul>
  {% for post in paginator.posts %}
  <li>
    <article class="post">

        <div style="margin: 2%;"><a class="redirect_link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a>-{{ post.date | date: "%B %e, %Y" }}</div>

<!--      <div class="entry">-->
<!--        {{ post.excerpt }}-->
<!--      </div>-->

<!--      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>-->
    </article>
    </li>
  {% endfor %}
    </ul>

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
